:root {
    --primary-color: #644e93;
    --secondary-color: #513f77;
    --tertiary-color: #fff;
    --quaternary-color: #f0f0f0;
    --quinary-color: #353535;
    --shadow-color: rgba(0, 0, 0, 0.35);
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #a893e4;
        --secondary-color: #7d63b6;
        --tertiary-color: #1f1f1f;
        --quaternary-color: #2b2b2b;
        --quinary-color: #f0f0f0;
        /* --shadow-color: rgba(255, 255, 255, 0.15); */
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--quaternary-color);
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--quartenary-color);
}

h1 {
    font-size: 4rem;
    color: var(--primary-color);
    margin: 2rem auto;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin: 1rem auto;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

p {
    width: 100%;
    font-size: 1rem;
    color: var(--quinary-color);
    margin: 0.1rem auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
label{
    font-size: 1.5rem;
    color: var(--primary-color);
    margin: 0.5rem auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
input {
    height: 45px;
}

input,
textarea {
    width: 100%;
    border: none;
    border-bottom: 3px solid var(--secondary-color);
    background: transparent;
    color: var(--quinary-color);
    padding: 0 10px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    transition: border-bottom-color 0.3s;
}

input:focus,
textarea:focus {
    border-bottom-color: var(--primary-color);
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 45px;
}

button {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 25px;
    background: var(--primary-color);
    color: var(--tertiary-color);
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--secondary-color);
}

#newTaskContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}

#newTaskForm {
    width: 30rem;
    background: var(--tertiary-color);
    border-radius: 8px;
    box-shadow: 0 2px 10px var(--shadow-color);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tasksContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
    margin: 0 10rem;
}

.task {
    background: var(--tertiary-color);
    border-radius: 10px;
    box-shadow: 0 2px 10px var(--shadow-color);
}

.task>.content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.task>.content>h3 {
    margin: 0.5rem;
}

.task>button {
    border-radius: 0 0 10px 10px;
}

#newTaskButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: var(--primary-color);
    color: var(--tertiary-color);
    font-size: 3rem;
    cursor: pointer;
    box-shadow: 0px 2px 10px var(--shadow-color);
    transition: background-color 0.3s;
}

#newTaskButton:hover {
    background-color: var(--secondary-color);
}